# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.pdb
*.json
*.tlog
Project1/Project1/对角线元素之和
Project1/Project1/斐波那契
Project1/Project1/将“China”译成密码
通讯录管理系统/main

#IDE
/.idea
/.vscode
/.vs
Debug/
x64/
*.ilk
*.vsidx
*.db-shm
*.opendb
*.db-wal
*.ipch
*.pdb
